serverless.yml
service: sls-step-functions

frameworkVersion: '3'

provider:
  name: aws
  runtime: go1.x
  
  stage: ${opt:stage, 'dev'}
  region: ${env:AWS_REGION, 'us-east-2'}

plugins:
  - serverless-offline
  - serverless-step-functions

package:
  patterns:
    - '!./**'
    - ./bin/**

functions:
  hello:
    handler: bin/hello
    # events:
    #   - httpApi:
    #       path: /hello
    #       method: post
  world:
    handler: bin/world
    # events:
    #   - httpApi:
    #       path: /world
    #       method: post

stepFunctions:
  stateMachines:
    helloStepFunc:
      events:
        - http:
            path: /execute
            method: post
      definition:
        Comment: "A sample workflow"
        StartAt: Hello
        States:
          Hello:
            Type: Task
            Resource: "arn:aws:lambda:${self:provider.region}:${aws:accountId}:function:${self:service}-${self:provider.stage}-hello"
            Next: CheckEmptyArray
          CheckEmptyArray:
            Type: Choice
            Choices:
              - Variable: $.processingComplete
                BooleanEquals: true
                Next: World
            Default: Hello
            OutputPath: $.remainingItems

          World:
            Type: Task
            Resource: "arn:aws:lambda:${self:provider.region}:${aws:accountId}:function:${self:service}-${self:provider.stage}-world"
            End: true

custom:
  serverless-offline:
    useDocker: true
